<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Local12noon" value="C:\VSIntermediate\NuGetPackagesLocal" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="Local12noon">
      <package pattern="LicenseManager_12noon.Client" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
